.divStore{
    margin: 0;
    padding: 0;
}

.divImg{
  display: flex;
    margin: 0 auto;
  flex-direction: column;
  max-width: 600px;
    width: 95%;
 
 

   
}

.divImg img{
    width: 100%;
    height: auto;
    max-height: 600px;
}
 


