* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: url("./background.jpg");
  background-size: 100% 100%;
}

h2 {
  color: rgb(239, 60, 255);
  font-size: 31px;
  font-family: "Permanent Marker", cursive;
  padding: 6px 0px 10px 0px;
}

.divHome {
  display: flex;
  align-items: center;
  width: 70vw;
  
  border-radius: 5px;
  justify-content: space-between;
  height: auto;
  margin: 0 auto;
  background-color: rgba(8, 50, 240, 0.445);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
}
.divPar {
 
  width: 40vw;
  font-size: 1em;
  color: rgb(0, 255, 255);
  font-family: cursive;
}

.divImg{
  
  width: 30vw;
  
}

@media screen and (max-width: 800px) {
.divImg{
    width: 100%;
    min-width: 100px;
    max-width: 500px;
    height: auto;
    
  }
  .divHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    max-width:380px;
  }
.divPar {
    width: 90%;
    
    font-size: 15px;
    text-align: center;
    
  }
}

.swiper {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100vw;
  height: 75vh;
  border-radius: 5px;
}

h1 {
  margin-bottom: 5vh;
}

h3 {
  color: rgb(239, 60, 255);
  font-family: "Permanent Marker", cursive;
}
